.container {
  border: 2px solid black;
  padding: 20px;
  width: 250px;
  height: 300px; /* Adjusted for extra logo space */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body {
    width: 20rem;
}
  
ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 1rem 0;
}
  
li {
  padding: 0.25rem;
}

@font-face {
  font-family: 'Pretendard';
  src: url(chrome-extension://lnnknepibehknelfooaamdeljfhfpddc/fonts/fonts/PRETENDARD-MEDIUM.OTF) format('truetype');
}

body {
  font-family: 'Pretendard', sans-serif;
  text-align: center;
}

.wrapper {
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 20px auto;
}
#switch {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.switch_label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 65px;
  height: 28px;
  background: #fff;
  border: 2px solid #0000B6;
  border-radius: 20px;
  transition: 0.2s;
}
.switch_label:hover {
  background: #efefef;
}
.onf_btn {
  position: absolute;
  top: 4px;
  left: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #0000B6;
  transition: 0.2s;
}

/* checking style */
#switch:checked+.switch_label {
  background: #0000B6;
  border: 2px solid #0000B6;
}

#switch:checked+.switch_label:hover {
  background: #0000B6;
}

/* move */
#switch:checked+.switch_label .onf_btn {
  left: 40px;
  background: #fff;
  box-shadow: 1px 2px 3px #00000020;
}
#status {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
#status b {
  color: #0000B6;
  font-size: 20px;
  /* Blue text color for bold text */
}
#status2 {
  font-size: 14px; /* Smaller font size for the second status */
  color: #000000; /* Lighter grey text color */
  text-align: center;
  line-height: 1.5; /* Added line height for better readability */
}

#label-filters-container {
  display: block;
  text-align: left;
  padding: 20px;
  border: 1px solid #ccc; /* optional: border around the whole block */
  border-radius: 5px; /* optional: rounded corners for the block */
  background-color: #f9f9f9; /* optional: background color */
  width: fit-content; /* adjusts width to fit content */
  margin: auto; /* centers the block */
}

#label-filters label {
  display: block;
  margin-bottom: 10px;
}
